<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ottego.iplHub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IplMatch"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ottego.iplHub.DescriptionActivity"></activity>
        <activity android:name="com.ottego.iplHub.About_us" />
        <activity android:name="com.ottego.iplHub.Player_List_Activity" />
        <activity android:name="com.ottego.iplHub.PointTableActivity" />
        <activity android:name="com.ottego.iplHub.MatchPlayedActivity" />
        <activity android:name="com.ottego.iplHub.TeamActivity" />
        <activity android:name="com.ottego.iplHub.NewsDetails" />
        <activity android:name="com.ottego.iplHub.MainActivity" />
        <activity
            android:name="com.ottego.iplHub.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>